In [29]:
import pandas as pd

# Read the Excel file
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

# Set display options to show more columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Print the dataframe
d

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [19]:
df=pd.DataFrame(d)

In [26]:
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [23]:
e={"Name":["Monmoy","Samsul","Imroz"],"percentage":[90,85,75],"Branch":["CSE","ECE","IT"]}
df2=pd.DataFrame(e)
print(df2)

     Name  percentage Branch
0  Monmoy          90    CSE
1  Samsul          85    ECE
2   Imroz          75     IT

In [37]:
import pandas as pd

# Read the Excel file
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

d

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [2]:

import pandas as pd
s=pd.Series([10,20,30,40],name="numbers",index=["a","b","c","d"])
print(s)
s.index

a    10
b    20
c    30
d    40
Name: numbers, dtype: int64

Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
s.array

<NumpyExtensionArray>
[10, 20, 30, 40]
Length: 4, dtype: int64

In [4]:
s.values

array([10, 20, 30, 40], dtype=int64)

In [5]:
s.dtype

dtype('int64')

In [6]:
s.shape

(4,)

In [7]:
s.ndim

1

In [8]:
s.nbytes

32

In [9]:
s.memory_usage()

64

In [10]:
s.size

4

In [11]:
s.name

'numbers'

In [12]:
s.empty

False

In [15]:
import pandas as pd

In [16]:
S1=pd.Series([1,2,3,4])
S2=pd.Series([5,6,7,8])

In [17]:
S1.subtract(S2)

0   -4
1   -4
2   -4
3   -4
dtype: int64

In [18]:
S1.add(S2)

0     6
1     8
2    10
3    12
dtype: int64

In [19]:
S1.pow(S2)

0        1
1       64
2     2187
3    65536
dtype: int64

In [20]:
S1.le(S2)

0    True
1    True
2    True
3    True
dtype: bool

In [21]:
S1.gt(S2)

0    False
1    False
2    False
3    False
dtype: bool

In [22]:
S1.multiply(S2)

0     5
1    12
2    21
3    32
dtype: int64

In [23]:
S1.mod(S2)

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
S1.divide(S2)

0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

In [25]:
import pandas as pd

# Read the Excel file
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

In [26]:
df=pd.DataFrame(d)

In [29]:
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [30]:
df.head()

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0

In [31]:
df.head(10)

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0

In [33]:
df.tail(10)

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [34]:
df.describe()

       Sl.\n No.      Regn. No.         TA    End Sem      Total
count  53.000000      42.000000  40.000000  42.000000  51.000000
mean   27.000000  230634.880952  15.725000  44.547619  46.960784
std    15.443445     226.363856   1.280775  17.332055  29.514038
min     1.000000  230580.000000  13.000000   0.000000   0.000000
25%    14.000000  230590.250000  15.000000  36.000000  19.000000
50%    27.000000  230600.500000  16.000000  46.000000  55.000000
75%    40.000000  230610.750000  17.000000  55.000000  68.000000
max    53.000000  232065.000000  18.000000  72.000000  90.000000

In [36]:
df.columns

Index(['Sl.\n No.', 'Roll No', 'Name', 'Regn. No.', 'Session', 'TA', 'End Sem',
       'Total'],
      dtype='object')

In [37]:
df.shape

(54, 8)

In [18]:
df[['Name','TA','End Sem']].head(11)

                 Name    TA  End Sem
0           NEHA BERA  17.0     68.0
1       ANIMESH KUMAR  15.0     50.0
2        SWETA SANTRA  17.0     65.0
3         AL MIJAN SK  15.0     47.0
4       MAHAFUJ ISLAM   NaN      NaN
5   MD SHAHRIAR JAMAN  16.0     52.0
6     MIJANUR RAHAMAN  14.0     37.0
7        NAJMUL HAQUE  16.0     39.0
8          FAIZAN ALI  17.0     45.0
9       MD NAIM MOLLA   NaN      NaN
10       MD AFTAB ALI  16.0     41.0

In [19]:
df[0:10:2]

   Sl.\n No.             Name  Regn. No.    Session    TA  End Sem  Total
0        1.0        NEHA BERA   230580.0  2023-2024  17.0     68.0   85.0
2        3.0     SWETA SANTRA   230582.0  2023-2024  17.0     65.0   82.0
4        5.0    MAHAFUJ ISLAM        NaN        NaN   NaN      NaN    NaN
6        7.0  MIJANUR RAHAMAN   230585.0  2023-2024  14.0     37.0   51.0
8        9.0       FAIZAN ALI   230587.0  2023-2024  17.0     45.0   62.0

In [20]:
df[["Roll No","TA","Total"]][1:8:2]

KeyError: "['Roll No'] not in index"

In [21]:
df.loc[0:5:2]

   Sl.\n No.           Name  Regn. No.    Session    TA  End Sem  Total
0        1.0      NEHA BERA   230580.0  2023-2024  17.0     68.0   85.0
2        3.0   SWETA SANTRA   230582.0  2023-2024  17.0     65.0   82.0
4        5.0  MAHAFUJ ISLAM        NaN        NaN   NaN      NaN    NaN

In [22]:
for index,rows in df.iterrows():
    print(index,rows)

0 Sl.\n No.          1.0
Name         NEHA BERA
Regn. No.     230580.0
Session      2023-2024
TA                17.0
End Sem           68.0
Total             85.0
Name: 0, dtype: object
1 Sl.\n No.              2.0
Name         ANIMESH KUMAR
Regn. No.         230581.0
Session          2023-2024
TA                    15.0
End Sem               50.0
Total                 65.0
Name: 1, dtype: object
2 Sl.\n No.             3.0
Name         SWETA SANTRA
Regn. No.        230582.0
Session         2023-2024
TA                   17.0
End Sem              65.0
Total                82.0
Name: 2, dtype: object
3 Sl.\n No.            4.0
Name         AL MIJAN SK
Regn. No.       230583.0
Session        2023-2024
TA                  15.0
End Sem             47.0
Total               62.0
Name: 3, dtype: object
4 Sl.\n No.              5.0
Name         MAHAFUJ ISLAM
Regn. No.              NaN
Session                NaN
TA                     NaN
End Sem                NaN
Total                  NaN
Name: 4, dtype: object
5 Sl.\n No.                  6.0
Name         MD SHAHRIAR JAMAN
Regn. No.             230584.0
Session              2023-2024
TA                        16.0
End Sem                   52.0
Total                     68.0
Name: 5, dtype: object
6 Sl.\n No.                7.0
Name         MIJANUR RAHAMAN
Regn. No.           230585.0
Session            2023-2024
TA                      14.0
End Sem                 37.0
Total                   51.0
Name: 6, dtype: object
7 Sl.\n No.             8.0
Name         NAJMUL HAQUE
Regn. No.        230586.0
Session         2023-2024
TA                   16.0
End Sem              39.0
Total                55.0
Name: 7, dtype: object
8 Sl.\n No.           9.0
Name         FAIZAN ALI
Regn. No.      230587.0
Session       2023-2024
TA                 17.0
End Sem            45.0
Total              62.0
Name: 8, dtype: object
9 Sl.\n No.             10.0
Name         MD NAIM MOLLA
Regn. No.              NaN
Session                NaN
TA                     NaN
End Sem                NaN
Total                  NaN
Name: 9, dtype: object
10 Sl.\n No.            11.0
Name         MD AFTAB ALI
Regn. No.        230588.0
Session         2023-2024
TA                   16.0
End Sem              41.0
Total                57.0
Name: 10, dtype: object
11 Sl.\n No.          12.0
Name         NAWAZ ALAM
Regn. No.      230589.0
Session       2023-2024
TA                 17.0
End Sem            51.0
Total              68.0
Name: 11, dtype: object
12 Sl.\n No.                13.0
Name         MD JABIR HOSSAIN
Regn. No.            230590.0
Session             2023-2024
TA                       16.0
End Sem                   8.0
Total                    24.0
Name: 12, dtype: object
13 Sl.\n No.           14.0
Name         MUMTAZ ALAM
Regn. No.       230591.0
Session        2023-2024
TA                  16.0
End Sem             57.0
Total               73.0
Name: 13, dtype: object
14 Sl.\n No.             15.0
Name         ASMIN KHATOON
Regn. No.         230592.0
Session          2023-2024
TA                    17.0
End Sem               71.0
Total                 88.0
Name: 14, dtype: object
15 Sl.\n No.             16.0
Name         MOBASSIR ALAM
Regn. No.         230593.0
Session          2023-2024
TA                    15.0
End Sem               42.0
Total                 57.0
Name: 15, dtype: object
16 Sl.\n No.               17.0
Name         BUSHRA EHTESHAM
Regn. No.           230594.0
Session            2023-2024
TA                      13.0
End Sem                 63.0
Total                   76.0
Name: 16, dtype: object
17 Sl.\n No.        18.0
Name         RAJIB SK
Regn. No.         NaN
Session           NaN
TA                NaN
End Sem           NaN
Total             NaN
Name: 17, dtype: object
18 Sl.\n No.           19.0
Name         SUMAN GHOSH
Regn. No.       230595.0
Session        2023-2024
TA                  17.0
End Sem             49.0
Total               66.0
Name: 18, dtype: object
19 Sl.\n No.           20.0
Name         SK AMANUDDN
Regn. No.            NaN
Session              NaN
TA                   NaN
End Sem              NaN
Total                NaN
Name: 19, dtype: object
20 Sl.\n No.                21.0
Name         SOUMYA KANTI ROY
Regn. No.            230596.0
Session             2023-2024
TA                       18.0
End Sem                  72.0
Total                    90.0
Name: 20, dtype: object
21 Sl.\n No.                                 22.0
Name         ANSARI KAINAT ZEYA AKHTAR HUSSAIN
Regn. No.                             230597.0
Session                              2023-2024
TA                                        16.0
End Sem                                   55.0
Total                                     71.0
Name: 21, dtype: object
22 Sl.\n No.                  23.0
Name         ASHADUZZAMAN AHMED
Regn. No.              230598.0
Session               2023-2024
TA                         13.0
End Sem                    54.0
Total                      67.0
Name: 22, dtype: object
23 Sl.\n No.              24.0
Name         MIR SOHEL RANA
Regn. No.          230599.0
Session           2023-2024
TA                      NaN
End Sem                 NaN
Total                   NaN
Name: 23, dtype: object
24 Sl.\n No.              25.0
Name         SUBHADEEP SHIT
Regn. No.          230600.0
Session           2023-2024
TA                     15.0
End Sem                32.0
Total                  47.0
Name: 24, dtype: object
25 Sl.\n No.               26.0
Name         MD REZAUL KARIM
Regn. No.                NaN
Session                  NaN
TA                       NaN
End Sem                  NaN
Total                    NaN
Name: 25, dtype: object
26 Sl.\n No.                 27.0
Name         ABUL HUSAIN MOLLA
Regn. No.                  NaN
Session                    NaN
TA                         NaN
End Sem                    NaN
Total                      NaN
Name: 26, dtype: object
27 Sl.\n No.                28.0
Name         MD SAFIUR RAHMAN
Regn. No.            230601.0
Session             2023-2024
TA                       15.0
End Sem                  28.0
Total                    43.0
Name: 27, dtype: object
28 Sl.\n No.           29.0
Name         ALIYA NEYAZ
Regn. No.       230602.0
Session        2023-2024
TA                  17.0
End Sem             71.0
Total               88.0
Name: 28, dtype: object
29 Sl.\n No.                  30.0
Name         SK MAHAMMAD SUFIAN
Regn. No.              230603.0
Session               2023-2024
TA                         17.0
End Sem                    19.0
Total                      36.0
Name: 29, dtype: object
30 Sl.\n No.                 31.0
Name         SK RUSSELL HASSAN
Regn. No.             230604.0
Session              2023-2024
TA                        14.0
End Sem                    0.0
Total                     14.0
Name: 30, dtype: object
31 Sl.\n No.           32.0
Name         FATIN ALMAS
Regn. No.       230605.0
Session        2023-2024
TA                  14.0
End Sem              0.0
Total               14.0
Name: 31, dtype: object
32 Sl.\n No.             33.0
Name         FAHIM MOSTAFA
Regn. No.         230606.0
Session          2023-2024
TA                    15.0
End Sem               40.0
Total                 55.0
Name: 32, dtype: object
33 Sl.\n No.             34.0
Name         SOHAIL AKHTAR
Regn. No.         230607.0
Session          2023-2024
TA                    17.0
End Sem               53.0
Total                 70.0
Name: 33, dtype: object
34 Sl.\n No.                  35.0
Name         RABINDRANATH SAHOO
Regn. No.              230608.0
Session               2023-2024
TA                         15.0
End Sem                    41.0
Total                      56.0
Name: 34, dtype: object
35 Sl.\n No.           36.0
Name         ANAS FAISAL
Regn. No.       230609.0
Session        2023-2024
TA                  15.0
End Sem             27.0
Total               42.0
Name: 35, dtype: object
36 Sl.\n No.                     37.0
Name         BAJLUR RAHAMAN BHANGI
Regn. No.                      NaN
Session                        NaN
TA                             NaN
End Sem                        NaN
Total                          NaN
Name: 36, dtype: object
37 Sl.\n No.            38.0
Name         DEBAYANI DAS
Regn. No.        230610.0
Session         2023-2024
TA                   16.0
End Sem              59.0
Total                75.0
Name: 37, dtype: object
38 Sl.\n No.              39.0
Name         RASHIDUL ISLAM
Regn. No.          230611.0
Session           2023-2024
TA                     13.0
End Sem                62.0
Total                  75.0
Name: 38, dtype: object
39 Sl.\n No.         40.0
Name           MD ARIF
Regn. No.     230612.0
Session      2023-2024
TA                15.0
End Sem           36.0
Total             51.0
Name: 39, dtype: object
40 Sl.\n No.             41.0
Name         SATYAJIT PAUL
Regn. No.         232065.0
Session          2023-2024
TA                     NaN
End Sem                NaN
Total                  NaN
Name: 40, dtype: object
41 Sl.\n No.              42.0
Name         ABDUL RAHIM SK
Regn. No.          230613.0
Session           2023-2024
TA                     15.0
End Sem                48.0
Total                  63.0
Name: 41, dtype: object
42 Sl.\n No.             43.0
Name         RUJINA KHATUN
Regn. No.              NaN
Session                NaN
TA                     NaN
End Sem                NaN
Total                  NaN
Name: 42, dtype: object
43 Sl.\n No.           44.0
Name         ARUN SARKAR
Regn. No.       230614.0
Session        2023-2024
TA                  15.0
End Sem             36.0
Total               51.0
Name: 43, dtype: object
44 Sl.\n No.        45.0
Name         MUNIR SK
Regn. No.         NaN
Session           NaN
TA                NaN
End Sem           NaN
Total             NaN
Name: 44, dtype: object
45 Sl.\n No.             46.0
Name         SK IRFAN ALAM
Regn. No.         230615.0
Session          2023-2024
TA                    16.0
End Sem               36.0
Total                 52.0
Name: 45, dtype: object
46 Sl.\n No.         47.0
Name         RAHUL DAS
Regn. No.     230616.0
Session      2023-2024
TA                17.0
End Sem           48.0
Total             65.0
Name: 46, dtype: object
47 Sl.\n No.            48.0
Name         MD SHAHNAWAZ
Regn. No.        230617.0
Session         2023-2024
TA                   17.0
End Sem              30.0
Total                47.0
Name: 47, dtype: object
48 Sl.\n No.           49.0
Name         KASHIF ZEYA
Regn. No.       230618.0
Session        2023-2024
TA                  17.0
End Sem             44.0
Total               61.0
Name: 48, dtype: object
49 Sl.\n No.                    50.0
Name         JAFARUL HOSSAIN KHAN
Regn. No.                230619.0
Session                 2023-2024
TA                           16.0
End Sem                      35.0
Total                        51.0
Name: 49, dtype: object
50 Sl.\n No.              51.0
Name         ANIRBAN AHAMED
Regn. No.          230620.0
Session           2023-2024
TA                     17.0
End Sem                55.0
Total                  72.0
Name: 50, dtype: object
51 Sl.\n No.    NaN
Name         NaN
Regn. No.    NaN
Session      NaN
TA           NaN
End Sem      NaN
Total        NaN
Name: 51, dtype: object
52 Sl.\n No.    52.0
Name          NaN
Regn. No.     NaN
Session       NaN
TA            NaN
End Sem      61.0
Total         NaN
Name: 52, dtype: object
53 Sl.\n No.    53.0
Name          NaN
Regn. No.     NaN
Session       NaN
TA            NaN
End Sem      44.0
Total         NaN
Name: 53, dtype: object

In [23]:
for index,rows in df.iterrows():
    print(index,rows[["Roll No","TA","Total"]])

KeyError: "['Roll No'] not in index"

In [24]:
df.loc[df["Roll No"]=="CEN234008"]

KeyError: 'Roll No'

In [37]:
df.sort_values("Total",ascending=True)

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [38]:
import pandas as pd

# Read the Excel file
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

# Set display options to show more columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Print the dataframe
df=pd.DataFrame(d)
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [39]:
df["Total"]=df["TA"]+df["End Sem"]
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,NaN
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,NaN
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,NaN
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,NaN
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,NaN
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,NaN
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,NaN
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,NaN
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,NaN
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,NaN
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,NaN
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [40]:
df[['Roll No','Total']]

      Roll No  Total
0   CEN234002   85.0
1   CEN234003   65.0
2   CEN234005   82.0
3   CEN234008   62.0
4   CEN234013    NaN
5   CEN234014   68.0
6   CEN234016   51.0
7   CEN234017   55.0
8   CEN234018   62.0
9   CEN234019    NaN
10  CEN234020   57.0
11  CEN234021   68.0
12  CEN234022   24.0
13  CEN234023   73.0
14  CEN234024   88.0
15  CEN234025   57.0
16  CEN234026   76.0
17  CEN234027    NaN
18  CEN234028   66.0
19  CEN234029    NaN
20  CEN234030   90.0
21  CEN234031   71.0
22  CEN234032   67.0
23  CEN234033    NaN
24  CEN234034   47.0
25  CEN234035    NaN
26  CEN234036    NaN
27  CEN234037   43.0
28  CEN234038   88.0
29  CEN234039   36.0
30  CEN234040   14.0
31  CEN234041   14.0
32  CEN234042   55.0
33  CEN234043   70.0
34  CEN234044   56.0
35  CEN234045   42.0
36  CEN234046    NaN
37  CEN234047   75.0
38  CEN234048   75.0
39  CEN234049   51.0
40  CEN234050    NaN
41  CEN234051   63.0
42  CEN234052    NaN
43  CEN234053   51.0
44  CEN234054    NaN
45  CEN234055   52.0
46  CEN234056   65.0
47  CEN234057   47.0
48  CEN234058   61.0
49  CEN234059   51.0
50  CEN234060   72.0
51        NaN    NaN
52  CEN224033    NaN
53  CEN224027    NaN

In [41]:
df=df.drop(columns="TA")
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,44.0,NaN

In [42]:
import pandas as pd

# Read the Excel file
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

# Set display options to show more columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Print the dataframe
df=pd.DataFrame(d)
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN

In [43]:
df.to_excel("D:\\class of students in Aliah\\Theory marks\\Monmoy.xlsx",index=False)

In [1]:
import pandas as pd

In [2]:
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")
df=pd.DataFrame(d)

In [3]:
print(df)

    Sl.\n No.    Roll No                               Name  Regn. No.  \
0         1.0  CEN234002                          NEHA BERA   230580.0
1         2.0  CEN234003                      ANIMESH KUMAR   230581.0
2         3.0  CEN234005                       SWETA SANTRA   230582.0
3         4.0  CEN234008                        AL MIJAN SK   230583.0
4         5.0  CEN234013                      MAHAFUJ ISLAM        NaN
5         6.0  CEN234014                  MD SHAHRIAR JAMAN   230584.0
6         7.0  CEN234016                    MIJANUR RAHAMAN   230585.0
7         8.0  CEN234017                       NAJMUL HAQUE   230586.0
8         9.0  CEN234018                         FAIZAN ALI   230587.0
9        10.0  CEN234019                      MD NAIM MOLLA        NaN
10       11.0  CEN234020                       MD AFTAB ALI   230588.0
11       12.0  CEN234021                         NAWAZ ALAM   230589.0
12       13.0  CEN234022                   MD JABIR HOSSAIN   230590.0
13       14.0  CEN234023                        MUMTAZ ALAM   230591.0
14       15.0  CEN234024                      ASMIN KHATOON   230592.0
15       16.0  CEN234025                      MOBASSIR ALAM   230593.0
16       17.0  CEN234026                    BUSHRA EHTESHAM   230594.0
17       18.0  CEN234027                           RAJIB SK        NaN
18       19.0  CEN234028                        SUMAN GHOSH   230595.0
19       20.0  CEN234029                        SK AMANUDDN        NaN
20       21.0  CEN234030                   SOUMYA KANTI ROY   230596.0
21       22.0  CEN234031  ANSARI KAINAT ZEYA AKHTAR HUSSAIN   230597.0
22       23.0  CEN234032                 ASHADUZZAMAN AHMED   230598.0
23       24.0  CEN234033                     MIR SOHEL RANA   230599.0
24       25.0  CEN234034                     SUBHADEEP SHIT   230600.0
25       26.0  CEN234035                    MD REZAUL KARIM        NaN
26       27.0  CEN234036                  ABUL HUSAIN MOLLA        NaN
27       28.0  CEN234037                   MD SAFIUR RAHMAN   230601.0
28       29.0  CEN234038                        ALIYA NEYAZ   230602.0
29       30.0  CEN234039                 SK MAHAMMAD SUFIAN   230603.0
30       31.0  CEN234040                  SK RUSSELL HASSAN   230604.0
31       32.0  CEN234041                        FATIN ALMAS   230605.0
32       33.0  CEN234042                      FAHIM MOSTAFA   230606.0
33       34.0  CEN234043                      SOHAIL AKHTAR   230607.0
34       35.0  CEN234044                 RABINDRANATH SAHOO   230608.0
35       36.0  CEN234045                        ANAS FAISAL   230609.0
36       37.0  CEN234046              BAJLUR RAHAMAN BHANGI        NaN
37       38.0  CEN234047                       DEBAYANI DAS   230610.0
38       39.0  CEN234048                     RASHIDUL ISLAM   230611.0
39       40.0  CEN234049                            MD ARIF   230612.0
40       41.0  CEN234050                      SATYAJIT PAUL   232065.0
41       42.0  CEN234051                     ABDUL RAHIM SK   230613.0
42       43.0  CEN234052                      RUJINA KHATUN        NaN
43       44.0  CEN234053                        ARUN SARKAR   230614.0
44       45.0  CEN234054                           MUNIR SK        NaN
45       46.0  CEN234055                      SK IRFAN ALAM   230615.0
46       47.0  CEN234056                          RAHUL DAS   230616.0
47       48.0  CEN234057                       MD SHAHNAWAZ   230617.0
48       49.0  CEN234058                        KASHIF ZEYA   230618.0
49       50.0  CEN234059               JAFARUL HOSSAIN KHAN   230619.0
50       51.0  CEN234060                     ANIRBAN AHAMED   230620.0
51        NaN        NaN                                NaN        NaN
52       52.0  CEN224033                                NaN        NaN
53       53.0  CEN224027                                NaN        NaN

      Session    TA  End Sem  Total
0   2023-2024  17.0     68.0   85.0
1   2023-2024  15.0     50.0   65.0
2   2023-2024  17.0     65.0   82.0
3   2023-2024  15.0     47.0   62.0
4         NaN   NaN      NaN    0.0
5   2023-2024  16.0     52.0   68.0
6   2023-2024  14.0     37.0   51.0
7   2023-2024  16.0     39.0   55.0
8   2023-2024  17.0     45.0   62.0
9         NaN   NaN      NaN    0.0
10  2023-2024  16.0     41.0   57.0
11  2023-2024  17.0     51.0   68.0
12  2023-2024  16.0      8.0   24.0
13  2023-2024  16.0     57.0   73.0
14  2023-2024  17.0     71.0   88.0
15  2023-2024  15.0     42.0   57.0
16  2023-2024  13.0     63.0   76.0
17        NaN   NaN      NaN    0.0
18  2023-2024  17.0     49.0   66.0
19        NaN   NaN      NaN    0.0
20  2023-2024  18.0     72.0   90.0
21  2023-2024  16.0     55.0   71.0
22  2023-2024  13.0     54.0   67.0
23  2023-2024   NaN      NaN    0.0
24  2023-2024  15.0     32.0   47.0
25        NaN   NaN      NaN    0.0
26        NaN   NaN      NaN    0.0
27  2023-2024  15.0     28.0   43.0
28  2023-2024  17.0     71.0   88.0
29  2023-2024  17.0     19.0   36.0
30  2023-2024  14.0      0.0   14.0
31  2023-2024  14.0      0.0   14.0
32  2023-2024  15.0     40.0   55.0
33  2023-2024  17.0     53.0   70.0
34  2023-2024  15.0     41.0   56.0
35  2023-2024  15.0     27.0   42.0
36        NaN   NaN      NaN    0.0
37  2023-2024  16.0     59.0   75.0
38  2023-2024  13.0     62.0   75.0
39  2023-2024  15.0     36.0   51.0
40  2023-2024   NaN      NaN    0.0
41  2023-2024  15.0     48.0   63.0
42        NaN   NaN      NaN    0.0
43  2023-2024  15.0     36.0   51.0
44        NaN   NaN      NaN    0.0
45  2023-2024  16.0     36.0   52.0
46  2023-2024  17.0     48.0   65.0
47  2023-2024  17.0     30.0   47.0
48  2023-2024  17.0     44.0   61.0
49  2023-2024  16.0     35.0   51.0
50  2023-2024  17.0     55.0   72.0
51        NaN   NaN      NaN    NaN
52        NaN   NaN     61.0    NaN
53        NaN   NaN     44.0    NaN

In [5]:
df.loc[3,"Regn. No."]

230583.0

In [9]:
df.loc[0:4,["Name","Total"]]

            Name  Total
0      NEHA BERA   85.0
1  ANIMESH KUMAR   65.0
2   SWETA SANTRA   82.0
3    AL MIJAN SK   62.0
4  MAHAFUJ ISLAM    0.0

In [10]:
df.loc[0:4,"Name":"Total"]

            Name  Regn. No.    Session    TA  End Sem  Total
0      NEHA BERA   230580.0  2023-2024  17.0     68.0   85.0
1  ANIMESH KUMAR   230581.0  2023-2024  15.0     50.0   65.0
2   SWETA SANTRA   230582.0  2023-2024  17.0     65.0   82.0
3    AL MIJAN SK   230583.0  2023-2024  15.0     47.0   62.0
4  MAHAFUJ ISLAM        NaN        NaN   NaN      NaN    0.0

In [15]:
df.iloc[0:4,1:6]

     Roll No           Name  Regn. No.    Session    TA
0  CEN234002      NEHA BERA   230580.0  2023-2024  17.0
1  CEN234003  ANIMESH KUMAR   230581.0  2023-2024  15.0
2  CEN234005   SWETA SANTRA   230582.0  2023-2024  17.0
3  CEN234008    AL MIJAN SK   230583.0  2023-2024  15.0

In [16]:
df.iloc[[1,3]]

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0

In [18]:
df.iloc[:,[1,3]]

      Roll No  Regn. No.
0   CEN234002   230580.0
1   CEN234003   230581.0
2   CEN234005   230582.0
3   CEN234008   230583.0
4   CEN234013        NaN
5   CEN234014   230584.0
6   CEN234016   230585.0
7   CEN234017   230586.0
8   CEN234018   230587.0
9   CEN234019        NaN
10  CEN234020   230588.0
11  CEN234021   230589.0
12  CEN234022   230590.0
13  CEN234023   230591.0
14  CEN234024   230592.0
15  CEN234025   230593.0
16  CEN234026   230594.0
17  CEN234027        NaN
18  CEN234028   230595.0
19  CEN234029        NaN
20  CEN234030   230596.0
21  CEN234031   230597.0
22  CEN234032   230598.0
23  CEN234033   230599.0
24  CEN234034   230600.0
25  CEN234035        NaN
26  CEN234036        NaN
27  CEN234037   230601.0
28  CEN234038   230602.0
29  CEN234039   230603.0
30  CEN234040   230604.0
31  CEN234041   230605.0
32  CEN234042   230606.0
33  CEN234043   230607.0
34  CEN234044   230608.0
35  CEN234045   230609.0
36  CEN234046        NaN
37  CEN234047   230610.0
38  CEN234048   230611.0
39  CEN234049   230612.0
40  CEN234050   232065.0
41  CEN234051   230613.0
42  CEN234052        NaN
43  CEN234053   230614.0
44  CEN234054        NaN
45  CEN234055   230615.0
46  CEN234056   230616.0
47  CEN234057   230617.0
48  CEN234058   230618.0
49  CEN234059   230619.0
50  CEN234060   230620.0
51        NaN        NaN
52  CEN224033        NaN
53  CEN224027        NaN

In [1]:
import pandas as pd

# Read the Excel file
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

df=pd.DataFrame(d)
print(df)

    Sl.\n No.    Roll No                               Name  Regn. No.  \
0         1.0  CEN234002                          NEHA BERA   230580.0
1         2.0  CEN234003                      ANIMESH KUMAR   230581.0
2         3.0  CEN234005                       SWETA SANTRA   230582.0
3         4.0  CEN234008                        AL MIJAN SK   230583.0
4         5.0  CEN234013                      MAHAFUJ ISLAM        NaN
5         6.0  CEN234014                  MD SHAHRIAR JAMAN   230584.0
6         7.0  CEN234016                    MIJANUR RAHAMAN   230585.0
7         8.0  CEN234017                       NAJMUL HAQUE   230586.0
8         9.0  CEN234018                         FAIZAN ALI   230587.0
9        10.0  CEN234019                      MD NAIM MOLLA        NaN
10       11.0  CEN234020                       MD AFTAB ALI   230588.0
11       12.0  CEN234021                         NAWAZ ALAM   230589.0
12       13.0  CEN234022                   MD JABIR HOSSAIN   230590.0
13       14.0  CEN234023                        MUMTAZ ALAM   230591.0
14       15.0  CEN234024                      ASMIN KHATOON   230592.0
15       16.0  CEN234025                      MOBASSIR ALAM   230593.0
16       17.0  CEN234026                    BUSHRA EHTESHAM   230594.0
17       18.0  CEN234027                           RAJIB SK        NaN
18       19.0  CEN234028                        SUMAN GHOSH   230595.0
19       20.0  CEN234029                        SK AMANUDDN        NaN
20       21.0  CEN234030                   SOUMYA KANTI ROY   230596.0
21       22.0  CEN234031  ANSARI KAINAT ZEYA AKHTAR HUSSAIN   230597.0
22       23.0  CEN234032                 ASHADUZZAMAN AHMED   230598.0
23       24.0  CEN234033                     MIR SOHEL RANA   230599.0
24       25.0  CEN234034                     SUBHADEEP SHIT   230600.0
25       26.0  CEN234035                    MD REZAUL KARIM        NaN
26       27.0  CEN234036                  ABUL HUSAIN MOLLA        NaN
27       28.0  CEN234037                   MD SAFIUR RAHMAN   230601.0
28       29.0  CEN234038                        ALIYA NEYAZ   230602.0
29       30.0  CEN234039                 SK MAHAMMAD SUFIAN   230603.0
30       31.0  CEN234040                  SK RUSSELL HASSAN   230604.0
31       32.0  CEN234041                        FATIN ALMAS   230605.0
32       33.0  CEN234042                      FAHIM MOSTAFA   230606.0
33       34.0  CEN234043                      SOHAIL AKHTAR   230607.0
34       35.0  CEN234044                 RABINDRANATH SAHOO   230608.0
35       36.0  CEN234045                        ANAS FAISAL   230609.0
36       37.0  CEN234046              BAJLUR RAHAMAN BHANGI        NaN
37       38.0  CEN234047                       DEBAYANI DAS   230610.0
38       39.0  CEN234048                     RASHIDUL ISLAM   230611.0
39       40.0  CEN234049                            MD ARIF   230612.0
40       41.0  CEN234050                      SATYAJIT PAUL   232065.0
41       42.0  CEN234051                     ABDUL RAHIM SK   230613.0
42       43.0  CEN234052                      RUJINA KHATUN        NaN
43       44.0  CEN234053                        ARUN SARKAR   230614.0
44       45.0  CEN234054                           MUNIR SK        NaN
45       46.0  CEN234055                      SK IRFAN ALAM   230615.0
46       47.0  CEN234056                          RAHUL DAS   230616.0
47       48.0  CEN234057                       MD SHAHNAWAZ   230617.0
48       49.0  CEN234058                        KASHIF ZEYA   230618.0
49       50.0  CEN234059               JAFARUL HOSSAIN KHAN   230619.0
50       51.0  CEN234060                     ANIRBAN AHAMED   230620.0
51        NaN        NaN                                NaN        NaN
52       52.0  CEN224033                                NaN        NaN
53       53.0  CEN224027                                NaN        NaN

      Session    TA  End Sem  Total
0   2023-2024  17.0     68.0   85.0
1   2023-2024  15.0     50.0   65.0
2   2023-2024  17.0     65.0   82.0
3   2023-2024  15.0     47.0   62.0
4         NaN   NaN      NaN    0.0
5   2023-2024  16.0     52.0   68.0
6   2023-2024  14.0     37.0   51.0
7   2023-2024  16.0     39.0   55.0
8   2023-2024  17.0     45.0   62.0
9         NaN   NaN      NaN    0.0
10  2023-2024  16.0     41.0   57.0
11  2023-2024  17.0     51.0   68.0
12  2023-2024  16.0      8.0   24.0
13  2023-2024  16.0     57.0   73.0
14  2023-2024  17.0     71.0   88.0
15  2023-2024  15.0     42.0   57.0
16  2023-2024  13.0     63.0   76.0
17        NaN   NaN      NaN    0.0
18  2023-2024  17.0     49.0   66.0
19        NaN   NaN      NaN    0.0
20  2023-2024  18.0     72.0   90.0
21  2023-2024  16.0     55.0   71.0
22  2023-2024  13.0     54.0   67.0
23  2023-2024   NaN      NaN    0.0
24  2023-2024  15.0     32.0   47.0
25        NaN   NaN      NaN    0.0
26        NaN   NaN      NaN    0.0
27  2023-2024  15.0     28.0   43.0
28  2023-2024  17.0     71.0   88.0
29  2023-2024  17.0     19.0   36.0
30  2023-2024  14.0      0.0   14.0
31  2023-2024  14.0      0.0   14.0
32  2023-2024  15.0     40.0   55.0
33  2023-2024  17.0     53.0   70.0
34  2023-2024  15.0     41.0   56.0
35  2023-2024  15.0     27.0   42.0
36        NaN   NaN      NaN    0.0
37  2023-2024  16.0     59.0   75.0
38  2023-2024  13.0     62.0   75.0
39  2023-2024  15.0     36.0   51.0
40  2023-2024   NaN      NaN    0.0
41  2023-2024  15.0     48.0   63.0
42        NaN   NaN      NaN    0.0
43  2023-2024  15.0     36.0   51.0
44        NaN   NaN      NaN    0.0
45  2023-2024  16.0     36.0   52.0
46  2023-2024  17.0     48.0   65.0
47  2023-2024  17.0     30.0   47.0
48  2023-2024  17.0     44.0   61.0
49  2023-2024  16.0     35.0   51.0
50  2023-2024  17.0     55.0   72.0
51        NaN   NaN      NaN    NaN
52        NaN   NaN     61.0    NaN
53        NaN   NaN     44.0    NaN

In [2]:
df.fillna("MISSING")

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0
4,5.0,CEN234013,MAHAFUJ ISLAM,MISSING,MISSING,MISSING,MISSING,0.0
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0
9,10.0,CEN234019,MD NAIM MOLLA,MISSING,MISSING,MISSING,MISSING,0.0
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0
17,18.0,CEN234027,RAJIB SK,MISSING,MISSING,MISSING,MISSING,0.0
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0
19,20.0,CEN234029,SK AMANUDDN,MISSING,MISSING,MISSING,MISSING,0.0
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,MISSING,MISSING,0.0
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0
25,26.0,CEN234035,MD REZAUL KARIM,MISSING,MISSING,MISSING,MISSING,0.0
26,27.0,CEN234036,ABUL HUSAIN MOLLA,MISSING,MISSING,MISSING,MISSING,0.0
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,MISSING,MISSING,MISSING,MISSING,0.0
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,MISSING,MISSING,0.0
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0
42,43.0,CEN234052,RUJINA KHATUN,MISSING,MISSING,MISSING,MISSING,0.0
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0
44,45.0,CEN234054,MUNIR SK,MISSING,MISSING,MISSING,MISSING,0.0
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0
51,MISSING,MISSING,MISSING,MISSING,MISSING,MISSING,MISSING,MISSING
52,52.0,CEN224033,MISSING,MISSING,MISSING,MISSING,61.0,MISSING
53,53.0,CEN224027,MISSING,MISSING,MISSING,MISSING,44.0,MISSING

In [3]:
df["Total"].fillna(40)

0     85.0
1     65.0
2     82.0
3     62.0
4      0.0
5     68.0
6     51.0
7     55.0
8     62.0
9      0.0
10    57.0
11    68.0
12    24.0
13    73.0
14    88.0
15    57.0
16    76.0
17     0.0
18    66.0
19     0.0
20    90.0
21    71.0
22    67.0
23     0.0
24    47.0
25     0.0
26     0.0
27    43.0
28    88.0
29    36.0
30    14.0
31    14.0
32    55.0
33    70.0
34    56.0
35    42.0
36     0.0
37    75.0
38    75.0
39    51.0
40     0.0
41    63.0
42     0.0
43    51.0
44     0.0
45    52.0
46    65.0
47    47.0
48    61.0
49    51.0
50    72.0
51    40.0
52    40.0
53    40.0
Name: Total, dtype: float64

In [6]:
import pandas as pd
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

df=pd.DataFrame(d)
print(df)
df.duplicated()
df.drop_duplicates(inplace=True)

    Sl.\n No.    Roll No                               Name  Regn. No.  \
0         1.0  CEN234002                          NEHA BERA   230580.0
1         2.0  CEN234003                      ANIMESH KUMAR   230581.0
2         3.0  CEN234005                       SWETA SANTRA   230582.0
3         4.0  CEN234008                        AL MIJAN SK   230583.0
4         5.0  CEN234013                      MAHAFUJ ISLAM        NaN
5         6.0  CEN234014                  MD SHAHRIAR JAMAN   230584.0
6         7.0  CEN234016                    MIJANUR RAHAMAN   230585.0
7         8.0  CEN234017                       NAJMUL HAQUE   230586.0
8         9.0  CEN234018                         FAIZAN ALI   230587.0
9        10.0  CEN234019                      MD NAIM MOLLA        NaN
10       11.0  CEN234020                       MD AFTAB ALI   230588.0
11       12.0  CEN234021                         NAWAZ ALAM   230589.0
12       13.0  CEN234022                   MD JABIR HOSSAIN   230590.0
13       14.0  CEN234023                        MUMTAZ ALAM   230591.0
14       15.0  CEN234024                      ASMIN KHATOON   230592.0
15       16.0  CEN234025                      MOBASSIR ALAM   230593.0
16       17.0  CEN234026                    BUSHRA EHTESHAM   230594.0
17       18.0  CEN234027                           RAJIB SK        NaN
18       19.0  CEN234028                        SUMAN GHOSH   230595.0
19       20.0  CEN234029                        SK AMANUDDN        NaN
20       21.0  CEN234030                   SOUMYA KANTI ROY   230596.0
21       22.0  CEN234031  ANSARI KAINAT ZEYA AKHTAR HUSSAIN   230597.0
22       23.0  CEN234032                 ASHADUZZAMAN AHMED   230598.0
23       24.0  CEN234033                     MIR SOHEL RANA   230599.0
24       25.0  CEN234034                     SUBHADEEP SHIT   230600.0
25       26.0  CEN234035                    MD REZAUL KARIM        NaN
26       27.0  CEN234036                  ABUL HUSAIN MOLLA        NaN
27       28.0  CEN234037                   MD SAFIUR RAHMAN   230601.0
28       29.0  CEN234038                        ALIYA NEYAZ   230602.0
29       30.0  CEN234039                 SK MAHAMMAD SUFIAN   230603.0
30       31.0  CEN234040                  SK RUSSELL HASSAN   230604.0
31       32.0  CEN234041                        FATIN ALMAS   230605.0
32       33.0  CEN234042                      FAHIM MOSTAFA   230606.0
33       34.0  CEN234043                      SOHAIL AKHTAR   230607.0
34       35.0  CEN234044                 RABINDRANATH SAHOO   230608.0
35       36.0  CEN234045                        ANAS FAISAL   230609.0
36       37.0  CEN234046              BAJLUR RAHAMAN BHANGI        NaN
37       38.0  CEN234047                       DEBAYANI DAS   230610.0
38       39.0  CEN234048                     RASHIDUL ISLAM   230611.0
39       40.0  CEN234049                            MD ARIF   230612.0
40       41.0  CEN234050                      SATYAJIT PAUL   232065.0
41       42.0  CEN234051                     ABDUL RAHIM SK   230613.0
42       43.0  CEN234052                      RUJINA KHATUN        NaN
43       44.0  CEN234053                        ARUN SARKAR   230614.0
44       45.0  CEN234054                           MUNIR SK        NaN
45       46.0  CEN234055                      SK IRFAN ALAM   230615.0
46       47.0  CEN234056                          RAHUL DAS   230616.0
47       48.0  CEN234057                       MD SHAHNAWAZ   230617.0
48       49.0  CEN234058                        KASHIF ZEYA   230618.0
49       50.0  CEN234059               JAFARUL HOSSAIN KHAN   230619.0
50       51.0  CEN234060                     ANIRBAN AHAMED   230620.0
51        NaN        NaN                                NaN        NaN
52       52.0  CEN224033                                NaN        NaN
53       53.0  CEN224027                                NaN        NaN

      Session    TA  End Sem  Total
0   2023-2024  17.0     68.0   85.0
1   2023-2024  15.0     50.0   65.0
2   2023-2024  17.0     65.0   82.0
3   2023-2024  15.0     47.0   62.0
4         NaN   NaN      NaN    0.0
5   2023-2024  16.0     52.0   68.0
6   2023-2024  14.0     37.0   51.0
7   2023-2024  16.0     39.0   55.0
8   2023-2024  17.0     45.0   62.0
9         NaN   NaN      NaN    0.0
10  2023-2024  16.0     41.0   57.0
11  2023-2024  17.0     51.0   68.0
12  2023-2024  16.0      8.0   24.0
13  2023-2024  16.0     57.0   73.0
14  2023-2024  17.0     71.0   88.0
15  2023-2024  15.0     42.0   57.0
16  2023-2024  13.0     63.0   76.0
17        NaN   NaN      NaN    0.0
18  2023-2024  17.0     49.0   66.0
19        NaN   NaN      NaN    0.0
20  2023-2024  18.0     72.0   90.0
21  2023-2024  16.0     55.0   71.0
22  2023-2024  13.0     54.0   67.0
23  2023-2024   NaN      NaN    0.0
24  2023-2024  15.0     32.0   47.0
25        NaN   NaN      NaN    0.0
26        NaN   NaN      NaN    0.0
27  2023-2024  15.0     28.0   43.0
28  2023-2024  17.0     71.0   88.0
29  2023-2024  17.0     19.0   36.0
30  2023-2024  14.0      0.0   14.0
31  2023-2024  14.0      0.0   14.0
32  2023-2024  15.0     40.0   55.0
33  2023-2024  17.0     53.0   70.0
34  2023-2024  15.0     41.0   56.0
35  2023-2024  15.0     27.0   42.0
36        NaN   NaN      NaN    0.0
37  2023-2024  16.0     59.0   75.0
38  2023-2024  13.0     62.0   75.0
39  2023-2024  15.0     36.0   51.0
40  2023-2024   NaN      NaN    0.0
41  2023-2024  15.0     48.0   63.0
42        NaN   NaN      NaN    0.0
43  2023-2024  15.0     36.0   51.0
44        NaN   NaN      NaN    0.0
45  2023-2024  16.0     36.0   52.0
46  2023-2024  17.0     48.0   65.0
47  2023-2024  17.0     30.0   47.0
48  2023-2024  17.0     44.0   61.0
49  2023-2024  16.0     35.0   51.0
50  2023-2024  17.0     55.0   72.0
51        NaN   NaN      NaN    NaN
52        NaN   NaN     61.0    NaN
53        NaN   NaN     44.0    NaN

In [13]:
import pandas as pd
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

df=pd.DataFrame(d)
#print(df)
#df.loc[(df["Total"]<60) & (df["TA"]<17)]
df.loc[df["Name"].str.startswith("s")]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [23]:
import pandas as pd
d = pd.read_excel("D:\\class of students in Aliah\\Theory marks\\Book1.xlsx")

df=pd.DataFrame(d)

df["Percentage"]=(df["Total"]/100)*100
df.loc[df["Percentage"]<40,["Grade"]]="Fail"
df.loc[(df["Percentage"]>=40) & (df["Percentage"]<60),["Grade"]]="Average"
df.loc[(df["Percentage"]>=60) & (df["Percentage"]<70),["Grade"]]="Good"
df.loc[(df["Percentage"]>=70) & (df["Percentage"]<80),["Grade"]]="Very Good"
df.loc[(df["Percentage"]>=80) & (df["Percentage"]<90),["Grade"]]="Excellent"
df.loc[(df["Percentage"]>=90) & (df["Percentage"]<100),["Grade"]]="Outstanding"
df

,Sl.\n No.,Roll No,Name,Regn. No.,Session,TA,End Sem,Total,Percentage,Grade
0,1.0,CEN234002,NEHA BERA,230580.0,2023-2024,17.0,68.0,85.0,85.0,Excellent
1,2.0,CEN234003,ANIMESH KUMAR,230581.0,2023-2024,15.0,50.0,65.0,65.0,Good
2,3.0,CEN234005,SWETA SANTRA,230582.0,2023-2024,17.0,65.0,82.0,82.0,Excellent
3,4.0,CEN234008,AL MIJAN SK,230583.0,2023-2024,15.0,47.0,62.0,62.0,Good
4,5.0,CEN234013,MAHAFUJ ISLAM,NaN,NaN,NaN,NaN,0.0,0.0,Fail
5,6.0,CEN234014,MD SHAHRIAR JAMAN,230584.0,2023-2024,16.0,52.0,68.0,68.0,Good
6,7.0,CEN234016,MIJANUR RAHAMAN,230585.0,2023-2024,14.0,37.0,51.0,51.0,Average
7,8.0,CEN234017,NAJMUL HAQUE,230586.0,2023-2024,16.0,39.0,55.0,55.0,Average
8,9.0,CEN234018,FAIZAN ALI,230587.0,2023-2024,17.0,45.0,62.0,62.0,Good
9,10.0,CEN234019,MD NAIM MOLLA,NaN,NaN,NaN,NaN,0.0,0.0,Fail
10,11.0,CEN234020,MD AFTAB ALI,230588.0,2023-2024,16.0,41.0,57.0,57.0,Average
11,12.0,CEN234021,NAWAZ ALAM,230589.0,2023-2024,17.0,51.0,68.0,68.0,Good
12,13.0,CEN234022,MD JABIR HOSSAIN,230590.0,2023-2024,16.0,8.0,24.0,24.0,Fail
13,14.0,CEN234023,MUMTAZ ALAM,230591.0,2023-2024,16.0,57.0,73.0,73.0,Very Good
14,15.0,CEN234024,ASMIN KHATOON,230592.0,2023-2024,17.0,71.0,88.0,88.0,Excellent
15,16.0,CEN234025,MOBASSIR ALAM,230593.0,2023-2024,15.0,42.0,57.0,57.0,Average
16,17.0,CEN234026,BUSHRA EHTESHAM,230594.0,2023-2024,13.0,63.0,76.0,76.0,Very Good
17,18.0,CEN234027,RAJIB SK,NaN,NaN,NaN,NaN,0.0,0.0,Fail
18,19.0,CEN234028,SUMAN GHOSH,230595.0,2023-2024,17.0,49.0,66.0,66.0,Good
19,20.0,CEN234029,SK AMANUDDN,NaN,NaN,NaN,NaN,0.0,0.0,Fail
20,21.0,CEN234030,SOUMYA KANTI ROY,230596.0,2023-2024,18.0,72.0,90.0,90.0,Outstanding
21,22.0,CEN234031,ANSARI KAINAT ZEYA AKHTAR HUSSAIN,230597.0,2023-2024,16.0,55.0,71.0,71.0,Very Good
22,23.0,CEN234032,ASHADUZZAMAN AHMED,230598.0,2023-2024,13.0,54.0,67.0,67.0,Good
23,24.0,CEN234033,MIR SOHEL RANA,230599.0,2023-2024,NaN,NaN,0.0,0.0,Fail
24,25.0,CEN234034,SUBHADEEP SHIT,230600.0,2023-2024,15.0,32.0,47.0,47.0,Average
25,26.0,CEN234035,MD REZAUL KARIM,NaN,NaN,NaN,NaN,0.0,0.0,Fail
26,27.0,CEN234036,ABUL HUSAIN MOLLA,NaN,NaN,NaN,NaN,0.0,0.0,Fail
27,28.0,CEN234037,MD SAFIUR RAHMAN,230601.0,2023-2024,15.0,28.0,43.0,43.0,Average
28,29.0,CEN234038,ALIYA NEYAZ,230602.0,2023-2024,17.0,71.0,88.0,88.0,Excellent
29,30.0,CEN234039,SK MAHAMMAD SUFIAN,230603.0,2023-2024,17.0,19.0,36.0,36.0,Fail
30,31.0,CEN234040,SK RUSSELL HASSAN,230604.0,2023-2024,14.0,0.0,14.0,14.0,Fail
31,32.0,CEN234041,FATIN ALMAS,230605.0,2023-2024,14.0,0.0,14.0,14.0,Fail
32,33.0,CEN234042,FAHIM MOSTAFA,230606.0,2023-2024,15.0,40.0,55.0,55.0,Average
33,34.0,CEN234043,SOHAIL AKHTAR,230607.0,2023-2024,17.0,53.0,70.0,70.0,Very Good
34,35.0,CEN234044,RABINDRANATH SAHOO,230608.0,2023-2024,15.0,41.0,56.0,56.0,Average
35,36.0,CEN234045,ANAS FAISAL,230609.0,2023-2024,15.0,27.0,42.0,42.0,Average
36,37.0,CEN234046,BAJLUR RAHAMAN BHANGI,NaN,NaN,NaN,NaN,0.0,0.0,Fail
37,38.0,CEN234047,DEBAYANI DAS,230610.0,2023-2024,16.0,59.0,75.0,75.0,Very Good
38,39.0,CEN234048,RASHIDUL ISLAM,230611.0,2023-2024,13.0,62.0,75.0,75.0,Very Good
39,40.0,CEN234049,MD ARIF,230612.0,2023-2024,15.0,36.0,51.0,51.0,Average
40,41.0,CEN234050,SATYAJIT PAUL,232065.0,2023-2024,NaN,NaN,0.0,0.0,Fail
41,42.0,CEN234051,ABDUL RAHIM SK,230613.0,2023-2024,15.0,48.0,63.0,63.0,Good
42,43.0,CEN234052,RUJINA KHATUN,NaN,NaN,NaN,NaN,0.0,0.0,Fail
43,44.0,CEN234053,ARUN SARKAR,230614.0,2023-2024,15.0,36.0,51.0,51.0,Average
44,45.0,CEN234054,MUNIR SK,NaN,NaN,NaN,NaN,0.0,0.0,Fail
45,46.0,CEN234055,SK IRFAN ALAM,230615.0,2023-2024,16.0,36.0,52.0,52.0,Average
46,47.0,CEN234056,RAHUL DAS,230616.0,2023-2024,17.0,48.0,65.0,65.0,Good
47,48.0,CEN234057,MD SHAHNAWAZ,230617.0,2023-2024,17.0,30.0,47.0,47.0,Average
48,49.0,CEN234058,KASHIF ZEYA,230618.0,2023-2024,17.0,44.0,61.0,61.0,Good
49,50.0,CEN234059,JAFARUL HOSSAIN KHAN,230619.0,2023-2024,16.0,35.0,51.0,51.0,Average
50,51.0,CEN234060,ANIRBAN AHAMED,230620.0,2023-2024,17.0,55.0,72.0,72.0,Very Good
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52.0,CEN224033,NaN,NaN,NaN,NaN,61.0,NaN,NaN,NaN
53,53.0,CEN224027,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN